.top-list {
  width: 1200px;
  margin: 0 auto;

  &__image-wrapper {
    background-image: linear-gradient(rgba(15, 15, 15, 0), rgb(21, 21, 21)), linear-gradient(rgba(21, 21, 21, 0.6), rgba(21, 21, 21, 0.3)), url('../../assets/trophy3.jpg');
    margin-bottom: 50px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


