.top-list {
  margin: 0 auto;
  width: 80%;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  &__image-wrapper {
    background-image: linear-gradient(rgba(15, 15, 15, 0), rgb(21, 21, 21)), linear-gradient(rgba(21, 21, 21, 0.6), rgba(21, 21, 21, 0.3)), url('../../assets/trophy-v2.jpg');
    margin-bottom: 15px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__title-wrapper {
    text-align: center;
  }
}