.side-menu {
  padding: 70px 0 0 35px;
  width: 280px;

  @media screen and (max-width: 990px) {
    position: fixed;
    right: 2px;
    background-color: #151515;
    z-index: 99999;
    width: 260px;
    padding-top: 20px;
    top: 80px;
    padding-bottom: 0;
    border-left: 2px solid #eb3b5a;
    border-bottom: 2px solid #eb3b5a;
    border-top: 2px solid #eb3b5a;
    border-radius: 10px;
    padding-left: 15px;
  }

  @media screen and (max-width: 414px) {
    width: 190px;
  }

  @media screen and (max-width: 360px) {
    padding-top: 0;
  }

  &__home {
    font-family: 'Audiowide', cursive;
    margin-bottom: 30px;
    font-size: 26px;

    @media screen and (max-width: 414px) {
      font-size: 18px;
    }

    @media screen and (max-width: 990px) {
      &:first-of-type {
        margin-top: 10px;
      }
    }

    @media screen and (max-width: 360px) {
      margin-bottom: 10px;
    }
    
    a {
      color: #eb3b5a;
    }
  }

  &__box {
    margin-bottom: 45px;

    @media screen and (max-width: 990px) {
      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    @media screen and (max-width: 360px) {
      margin-bottom: 10px;
    }
  }
}

.box-title {
  font-family: 'Audiowide', cursive;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;

  @media screen and (max-width: 414px) {
    font-size: 18px;
  }
}

.box-list {
  list-style: none;

  &__item {
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__link {
    position: relative;
    padding-left: 30px;

    @media screen and (max-width: 414px) {
      font-size: 14px;
    }

    &:hover i {
      color: #eb3b5a;
    }

    i {
      position: absolute;
      top: 3px;
      left: 11px;
      transform: translateX(-50%);
      transition: color .1s linear;
    }
  }

  &__genres {
    padding-left: 0;
  }

  &__button-wrapper {
    width: 100%;
    text-align: right;
    margin-bottom: 7px;
    margin-top: -15px;
  }

  &__close-button {
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    margin-right: 20px;
    display: none;

    @media screen and (max-width: 990px) {
      display: unset;
    }
  }
}

.side-menu__close {
  @media screen and (max-width: 990px) {
    display: none;
  }
}