.game-overview__overlay {
  display: flex;

  @media screen and (max-width: 1460px) {
    display: block;
  }
}

.game-overview {
  padding: 25px 0 70px;
  margin-left: 150px;
  margin-right: 70px;
  width: 60%;

  @media screen and (max-width: 1780px) {
    margin-left: 40px;
    margin-right: 65px;
  }

  @media screen and (max-width: 1460px) {
    width: 80%;
  }

  @media screen and (max-width: 1380px) {
    margin-left: 100px;
    margin-right: 70px;
  }

  @media screen and (max-width: 1260px) {
    margin-left: 50px;
  }

  @media screen and (max-width: 1210px) {
    margin: 0 auto;
  }

  @media screen and (max-width: 1024px) {
    width: 95%;
    padding-bottom: 0;
  }

  &__image-wrapper {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 411px) {
      height: 360px;
    }
  }

  &__title-wrapper {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__parent-platforms {
    i {
      margin: 0 5px;
      font-size: 18px;
    }
  }

  &__about-title {
    font-size: 30px;
    color: #eb3b5a;
    margin-bottom: 15px;
  }

  &__about-text {
    h3 {
      font-size: 26px;
      margin: 5px 0;
    }

    p {
      font-size: 16px;
      padding: 0;
    }

    li {
      margin-left: 20px;
    }
  }

  &__genres {
    cursor: pointer;
  }

  &__details {
    margin: 30px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: grey;

    @media screen and (max-width: 414px) {
      width: 100%;
    }

    &-item {
      width: 35%;
      margin-bottom: 20px;

      @media screen and (max-width: 414px) {
        &:last-of-type {
          width: 100%;
          margin-bottom: 0;
        }

      }

      span {
        text-decoration: underline;
        color: white;
        margin-right: 8px;
      }

      .metacritic {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid gray;
        color: #00a8ff;
        text-decoration: none;
        font-weight: 700;
      }
    }

    &-genres {
      @media screen and (max-width: 414px) {
        display: flex;
        flex-direction: column;

        .game-overview__genres {
          margin-bottom: 5px;
        }
      }
    }
  }

  &__video {
    width: 100%;
    margin-top: 50px;

    @media screen and (max-width: 411px) {
      margin: 0 auto;
    }
  }

  &__iframe {
    width: 100%;
    height: 480px;

    @media screen and (max-width: 900px) {
      width: 100%;
      height: 368px;
    }

    @media screen and (max-width: 460px) {
      width: 380px;
      height: 216px;
    }

    @media screen and (max-width: 414px) {
      width: 365px;
      height: 205px;
    }

    @media screen and (max-width: 375px) {
      width: 332px;
      height: 188px;
    }

    @media screen and (max-width: 360px) {
      width: 320px;
      height: 180px;
    }

    @media screen and (max-width: 320px) {
      width: 284px;
      height: 162px;
    }
  }
}