.game-preview__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content__title {
  font-family: 'Audiowide', cursive;
  margin-bottom: 45px;
  font-size: 44px;
  margin-top: 14px;
}