.info-bar {
  width: 280px;
  padding-top: 70px;
  padding-right: 35px;

  &__title {
    font-family: 'Audiowide', cursive;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}  