.App {
  max-width: 100vw;
  font-family: 'Baloo 2', cursive;
  color: white;
  padding-bottom: 50px;
  overflowY: auto;
}

.directory {
  display: flex;

  @media screen and (max-width: 990px) {
    display: block;
  }
}